.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #111;
  padding: 18px 32px;
  color: #ffd700;
  font-size: 1.1rem;
}
.left-logo {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.logo-img {
  height: 46px;
 object-fit: contain;
  /* margin-right: 10px; */
}
.logo-text {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 2px;
}
.soft { color: #b49659; 
padding-left: 0px;
}
nav a {
  margin-left: 35px;
  color: #ffd700;
  text-decoration: none;
  transition: color 0.2s;
  position: relative;
}
nav a.active,nav a:hover {
  color: #fff;
}
