.app-root {
  background: #191716;
  color: #fff;
  min-height: 100vh;
  font-family: 'Montserrat', 'Segoe UI', Arial, sans-serif;
}
body {
  background: url('/public/images/left.png') left center no-repeat #191716;
  background-size: auto 90vh;
  margin: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}
